<h3>Home</h3>
<div class="bordered-box">
    <label class="field-label required" for="HomePolicyAddress">Address</label>
    <input class="default-input w-input" data-name="HomePolicyAddress" id="HomePolicyAddress" maxlength="256" name="HomePolicyAddress"
        placeholder="Enter Address" required="required" type="text" ng-model="data.HomePolicyModel.Address"
        ng-change="clearError('HomePolicyModel.Address', validationErrors)"
        >
    <div ng-show="paramExists('HomePolicyModel.Address', validationErrors)" class="field-validation-error">
        <div ng-repeat="error in validationErrors['HomePolicyModel.Address']">{{error}} <br /></div>
    </div>

    <label class="field-label required" for="HomePolicyBuildDate">Build Date</label>
    <input class="default-input w-input" data-name="HomePolicyBuildDate" id="HomePolicyBuildDate" maxlength="256" name="HomePolicyBuildDate"
        placeholder="Enter Build Date" required="required" type="text" ng-model="data.HomePolicyModel.BuildDate"
        ng-change="clearError('HomePolicyModel.BuildDate', validationErrors)"
        >
    <div ng-show="paramExists('HomePolicyModel.BuildDate', validationErrors)" class="field-validation-error">
        <div ng-repeat="error in validationErrors['HomePolicyModel.BuildDate']">{{error}} <br /></div>
    </div>
</div>