<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-header">
                <div class="portfolio-mobile-header-text-div">
                    <h3 class="tab-title">Portfolio •&nbsp;</h3>
                    <h3 class="light tab-title">Total Premium {{data | currency:"$":0}}</h3>
                </div>
                <a class="default-button portfolio-cta w-button" ng-href="#/policy/create">+add policy</a>
            </div>
        </div>
        <!--tab-header-->
    </div>
    <!-- /.row -->
</div>
<!-- Page Heading -->
<div class="row-heading-4">
    <div class="col-lg-12">
        <h4 class="heading-4">Your Portfolio gives you an overview of premium costs, cover and policies.</h4>
    </div>
</div>
<!-- Heading 4 -->
<div class="graph-div-mobile w-hidden-main w-hidden-medium" data-ix="graphic-lod-and-select-mobile" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transition: opacity 500ms, transform 500ms;">
    <div class="graph-block w-clearfix">
        <div class="graph-me">
            <img class="block-image com" height="50" src="/Content/images/me.svg" width="36">
            <h5 class="block-text-heading">{{currency.personal | currency:"$":0}}<br>Personal</h5>
        </div>
        <div class="graph-veh">
            <img class="block-image-veh-selected w-hidden-main w-hidden-medium" height="50" src="/Content/images/Vehicle_selected.svg" width="76" style="transition: opacity 200ms; opacity: 0;"><img class="block-image veh" height="50" src="/Content/images/Vehicle.svg" width="76">
            <h5 class="block-text-heading">{{currency.vehicle | currency:"$":0}}<br>Vehicle</h5>
        </div>
        <div class="graph-prop">
            <img class="block-image" height="50" src="/Content/images/Property.svg" width="76">
            <h5 class="block-text-heading">{{currency.property | currency:"$":0}}<br>Property</h5>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="graph-div w-hidden-small w-hidden-tiny" data-ix="graphic-lod-and-select">
                <div class="veh-text v1" data-ix="opacity-none">
                    <h5 class="me-title">{{currency.vehicle | currency:"$":0}}<br><strong>Vehicle</strong></h5>
                    <div class="text-desc-veh" ng-class="{animText: optionsVeh}">
                        Car Insurance
                        <br>Boat insurance
                        <br>Motorcycle Insurance
                    </div>
                </div>
                <div class="me-text v1" data-ix="opacity-none">
                    <h5 class="me-title">{{currency.personal | currency:"$":0}}<br><strong>Personal</strong></h5>
                    <div class="text-desc-me" ng-class="{animText: optionsMe}">
                        Life Insurance
                        <br>Health Insurance
                        <br>Pet Insurance
                    </div>
                </div>
                <div class="property-text v1" data-ix="opacity-none">
                    <h5 class="me-title">{{currency.property | currency:"$":0}}<br><strong>Property</strong></h5>
                    <div class="text-desc-prop" ng-class="{animText: optionsProp}">
                        Mortgage Protection
                        <br>Home &amp; Contents
                    </div>
                </div>
                <div class="graph-circle v1">
                    <div class="chunk property v1" data-ix="graph-selecthover-me">
                        <div class="chunk-image me v1" data-ix="me-chunk" ng-click="showPolicy('personal')" ng-mouseenter="optionsMe=true" ng-mouseleave="optionsMe=false"></div>
                    </div>
                    <div class="chunk v1 vehicle" data-ix="graph-selecthover-veh"></div>
                    <div class="chunk vehicle v1 right" data-ix="graph-selecthover-veh">
                        <div class="chunk-image v1" data-ix="veh-chunk" ng-click="showPolicy('vehicle')" ng-mouseenter="optionsVeh=true" ng-mouseleave="optionsVeh=false"></div>
                    </div>
                    <div class="chunk me v1" data-ix="graph-selecthover-prop">
                        <div class="chunk-image prop v1" data-ix="prop-chunk" ng-click="showPolicy('property')" ng-mouseenter="optionsProp=true" ng-mouseleave="optionsProp=false"></div>
                    </div>
                </div>
                <div class="symbol-user"></div>
            </div>
            <!--desktop-->
        </div>
    </div>
</div>
<!-- Text content -->
<div id="policy" class="policy-panel fadeAnimate" style="transform-style: preserve-3d; display: block; transition: transform 400ms; transform: translateX(0px) translateY(0%) translateZ(0px);" ng-show="showPanel">
    <div class="bottom grey-block portfolio w-clearfix">
        <img class="card-container-cross" data-ix="policy-panel-close" height="19" src="/Content/images/Card_Container_X.svg" width="19"
             ng-click="closePortfolio()">
        <div class="text-capitalize">{{portfolioList.length}} {{groupName}} Policies</div>
    </div>
    <div class="card-container">
        <div ng-repeat="policy in portfolioList">
            <div class="card mobile" ng-style="{'border-left-color' : policy.insurer.color}">
                <div class="mobile-card-title w-hidden-main w-hidden-medium w-row">
                    <div class="mobile-card-left-col w-col w-col-7 w-col-small-7 w-col-tiny-7 w-hidden-main">
                        <div class="mobile-card-left-div">
                            <img class="mobile-card-image" ng-src={{policy.insurer.logoUrl}}>
                            <h5 class="mobile-card-heading">{{policy.title}}</h5>
                        </div>
                        <div>{{policy.subTitle}}</div>
                        <div>{{policy.policyGroup.groupName}}</div>
                        <div>{{policy.policyGroup.policyType}}</div>
                    </div>
                    <div class="mobile-card-right-col w-col w-col-3 w-col-small-3 w-col-tiny-3">
                        <div class="mobile-card-right-div">
                            <h5 class="mobile-card-title-header">
                                {{policy.policyPaymentAmount | currency:"$":0}}/{{getPayment(policy.policyPaymentFrequency) | limitTo: 1 | lowercase}}
                            </h5>
                            <div>Expires on {{policy.endDate | date:'dd.MM.yyyy'}}</div>
                        </div>
                    </div>
                    <div class="moble-card-arrow-col w-clearfix w-col w-col-2 w-col-small-2 w-col-tiny-2">
                        <div class="mobile-card-arrow w-clearfix">
                            <a href="#policy/{{policy.id}}">
                                <img class="mobile-card-arrow-image" data-ix="show-policy-details" src="/Content/images/mobile_card_arrow2x.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-title w-clearfix w-hidden-small w-hidden-tiny">
                    <img class="aami card-title-image" ng-src={{policy.insurer.logoUrl}}>
                    <div class="card-columns w-row">
                        <div class="w-col w-col-2">
                            <h5>{{policy.title}}</h5>
                            <div>{{policy.subTitle}}</div>
                        </div>
                        <div class="w-col w-col-3">
                            <h5>
                                {{policy.policyPaymentAmount | currency:"$":0}}/{{getPayment(policy.policyPaymentFrequency) | limitTo: 1 | lowercase}}
                            </h5>
                            <div>{{policy.policyGroup.groupName}}</div>
                            <div>{{policy.policyGroup.policyType}}</div>
                        </div>
                        <div class="w-col w-col-3">
                            <h5>Insurance</h5>
                            <div>Expires on {{policy.endDate | date:'dd.MM.yyyy'}}</div>
                        </div>
                        <div class="w-col w-col-2">
                            <h5>Policy Number</h5>
                            <div>{{policy.policyNumber}}</div>
                        </div>
                        <div class="w-col w-col-2"></div>
                    </div>
                    <div class="accordian w-dropdown" data-delay="0" ng-click="openDetails($index, policy.id)">
                        <div class="card-accordian w-dropdown-toggle" data-ix="accordion-openclose">
                            <div class="card-drop-down-icon w-icon-dropdown-toggle"></div>
                        </div>
                        <nav class="drop-down-card w-dropdown-list"></nav>
                    </div>
                </div>
                <div class="card-body w-hidden-small w-hidden-tiny fadeAnimate" ng-show="policyDetails[$index]">
                    <div class="w-row">
                        <div class="w-col w-col-6">
                            <h5 class="heading-5">Policy Details</h5>
                            <p class="paragraph">
                                {{ policyInfo[$index].descrition | limitTo: 200 }}{{policyInfo[$index].descrition.length > 200 ? '...' : ''}}
                            </p><a class="card-links link-text" data-ix="show-policy-details" ng-href="#policy/{{policy.id}}" style="transition: color 0.2s ease 0s;" ng-show="policyInfo[$index].descrition.length > 200">Continue Reading</a>
                        </div>
                        <div class="contact-col w-col w-col-2">
                            <h5 class="heading-5">Contact</h5><a target="_blank" class="card-links contact link-text" ng-href="http://{{policyInfo[$index].insurer.url}}">{{policyInfo[$index].insurer.url}}</a>
                            <span class="card-links link-text phone-link" href="#">{{policyInfo[$index].insurer.phone}}</span>
                            <h5 class="contact-sub-title heading-5">Overseas no.</h5>
                            <span class="card-links contact link-text phone-link" href="#">{{policyInfo[$index].insurer.phoneOverseas}}</span>
                        </div>
                        <div class="right-col w-col w-col-4">
                            <a class="default-button w-button" href="#">Make a claim</a>
                            <a class="card-links link-text" data-ix="show-policy-details"
                               ng-href="#policy/{{policy.id}}" style="transition: color 0.2s ease 0s;">View Insurance Documents</a>
                            <a class="card-links link-text" data-ix="show-policy-details" ng-href="#policy/{{policy.id}}" style="transition: color 0.2s ease 0s;">Standard &amp; Optional Cover</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--card-->
    </div>
    <nav ng-show="portfolioList.length" ng-include="'/Angular/Dashboard/templates/page/pager.html'" ng-init="path = '/'"></nav>
</div>