<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-header">
                <div class="portfolio-mobile-header-text-div">
                    <h3 class="tab-title">Portfolio</h3>
                </div>
            </div>
            <!--tab-header-->
        </div>
        <!--col-lg-12-->
    </div>
    <!-- /.row -->
</div>
<!-- Page Heading -->
<div class="row-heading-4 portfolioEmptyHeading">
    <div class="col-lg-12">
        <img height="30px" width="30px" class="cover-image ticked" src="/Content/images/Header_info_icon2x.png">
        <h4 class="heading-4">
            Add policies to get a visual overview of your premium costs, cover and policies.</h4>
    </div>
</div>
<!-- Sub Heading -->
<div class="wrapper portfolioEmpty">
    <div class="row">
        <div class="col-lg-2">
            <a class="default-button portfolio-cta w-button pull-left" ng-href="#/policy/create">+add policy</a>
        </div>
        <div class="col-lg-10">
            <div class="portfolioEmptyText">
                <p ng-if="pending > 0">We are working hard processing the policies you've uploaded. We will let you know once your protection portfolio is ready.</p>
                <p ng-if="pending === 0">Your Portfolio gives you an overview of premium costs, cover and policies.</p>
            </div>
        </div>
    </div>
</div>