<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-header">
                <div class="portfolio-mobile-header-text-div">
                    <h3 class="tab-title">Portfolio •&nbsp;</h3>
                    <h3 class="light tab-title">Total Premium {{data | currency:"$":0}}</h3>
                </div>
                <a class="default-button portfolio-cta w-button" ng-href="#/policy/create">+add policy</a>
            </div>
        </div>
        <!--tab-header-->
    </div>
    <!-- /.row -->
</div>
<!-- Page Heading -->
<div class="row-heading-4">
    <div class="col-lg-12">
        <h4 class="heading-4">Your Portfolio gives you an overview of premium costs, cover and policies.</h4>
    </div>
</div>
<!-- Heading 4 -->
<div class="graph-div-mobile w-hidden-main w-hidden-medium" data-ix="graphic-lod-and-select-mobile" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transition: opacity 500ms, transform 500ms;">
    <div class="graph-block w-clearfix">
    <div class="graph-com" ng-click="showPolicy('commercial')">
        <img class="block-image" height="50" src="/Content/images/Commercial.svg" width="76">
        <h5 class="block-text-heading">{{currency.commertial | currency:"$":0}}<br>Commercial</h5>
    </div>
    <div class="graph-me" ng-click="showPolicy('personal')">
        <img class="block-image com" height="50" src="/Content/images/me.svg" width="36">
        <h5 class="block-text-heading">{{currency.personal | currency:"$":0}}<br>Personal</h5>
    </div>
    <div class="graph-veh" ng-click="showPolicy('vehicle')">
        <img class="block-image-veh-selected w-hidden-main w-hidden-medium" height="50" src="/Content/images/Vehicle_selected.svg" width="76" style="transition: opacity 200ms; opacity: 0;"><img class="block-image veh" height="50" src="/Content/images/Vehicle.svg" width="76">
        <h5 class="block-text-heading">{{currency.vehicle | currency:"$":0}}<br>Vehicle</h5>
    </div>
    <div class="graph-prop" ng-click="showPolicy('property')">
        <img class="block-image" height="50" src="/Content/images/Property.svg" width="76">
        <h5 class="block-text-heading">{{currency.property | currency:"$":0}}<br>Property</h5>
    </div>
    </div>
</div>
<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="graph-div w-hidden-small w-hidden-tiny" data-ix="graphic-lod-and-select">
              <div class="com-text v2" data-ix="opacity-none">
                <h5 class="me-title">{{currency.commertial | currency:"$":0}}<br><strong>Commercial</strong></h5>
                <div class="text-desc-com" ng-class="{animText: optionsCom}">
                    Professional Indemnity
                  <br>Public Liability</div>
              </div>
              <div class="veh-text v2" data-ix="opacity-none">
                <h5 class="me-title">{{currency.vehicle | currency:"$":0}}<br><strong>Vehicle</strong></h5>
                <div class="text-desc-veh" ng-class="{animText: optionsVeh}">
                     Car Insurance
                    <br>Boat insurance
                    <br>Motorcycle Insurance
                </div>
              </div>
              <div class="me-text v2" data-ix="opacity-none">
                <h5 class="me-title">{{currency.personal | currency:"$":0}}<br><strong>Personal</strong></h5>
                <div class="text-desc-me" ng-class="{animText: optionsMe}">
                   Life Insurance
                  <br>Health Insurance
                  <br>Pet Insurance</div>
              </div>
              <div class="property-text v2" data-ix="opacity-none">
                <h5 class="me-title">{{currency.property | currency:"$":0}}<br><strong>Property</strong></h5>
                <div class="text-desc-prop" ng-class="{animText: optionsProp}">
                    Mortgage Protection
                  <br>Home &amp; Contents</div>
              </div>
              <div class="graph-circle">
                <div class="chunk me v2" data-ix="graph-selecthover-me">
                  <div class="chunk-image me v2" data-ix="me-chunk" ng-click="showPolicy('personal')" ng-mouseenter="optionsMe=true" ng-mouseleave="optionsMe=false"></div>
                </div>
                <div class="chunk vehicle v2" data-ix="graph-selecthover-veh">
                  <div class="chunk-image v2" data-ix="veh-chunk" ng-click="showPolicy('vehicle')" ng-mouseenter="optionsVeh=true" ng-mouseleave="optionsVeh=false"></div>
                </div>
                <div class="chunk property v2" data-ix="graph-selecthover-prop">
                  <div class="chunk-image prop v2" data-ix="prop-chunk" ng-click="showPolicy('property')" ng-mouseenter="optionsProp=true" ng-mouseleave="optionsProp=false"></div>
                </div>
                <div class="chunk commercial v2" data-ix="graph-selecthover">
                  <div class="chunk-image com v2" data-ix="comme-chunk" ng-click="showPolicy('commercial')" ng-mouseenter="optionsCom=true" ng-mouseleave="optionsCom=false"></div>
                </div>
              </div>
              <div class="symbol-user"></div>
            </div>
            <!--desktop-->
        </div>
    </div>
</div>
<!-- Text content -->
 <div ng-include="'/Angular/Dashboard/templates/portfolio/portfolioPolicyList.html'"></div>