<div class="wrapper">
    <div ng-include="'/Angular/Login/templates/page/alert.html'"></div>
    <h2>Advisr Forgot Password</h2>
    <div class="w-form">
        <form novalidate class="ui-form" data-name="form-forgot-pass" id="form-forgot-pass" name="form-forgot-pass">
            <input class="default-input w-input" data-name="Name" id="name" maxlength="256" name="name" placeholder=" Login or email"
                type="text" ng-model="data.email" ng-change="clearError('email', validationErrors)">
            <div ng-show="paramExists('email', validationErrors)" class="field-validation-error">
                <div ng-repeat="error in validationErrors['email']">{{error}} <br /></div>
            </div>
            <button class="default-button w-button" data-wait="Please wait..." ng-click="resetPassword()" button-spinner="submitInProgress">Reset Password</button>
        </form>
    </div>
</div>