<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-header w-clearfix">
                <a ng-href="" ng-click="back()"><img class="details header-back-arrow" data-ix="hide-policy-details" src="/Content/images/Header_Back_Arrow.svg" width="22"></a>
                <h3 class="tab-title">{{policy.title}}</h3>
                <h5 class="details-header tab-subtitle">
                    {{policy.subTitle}} {{policy.policyNumber}} • &nbsp;
                    ${{policy.policyPaymentAmount}}/{{getPayment(policy.policyPaymentFrequency)}}
                    &nbsp;• &nbsp;Expires {{policy.endDate | date:'dd.MM.yyyy'}}</h5>
            </div>
            <!--tab-header-->
        </div><!--col-->
    </div><!--row-->
</div><!--wrapper-->
<div class="w-tabs">
    <div class="detail-tab-menu w-tab-menu" >
        <a class="detail-tab-link tab--current w-inline-block w-tab-link" data-w-tab="Tab {{$index}}" ng-repeat="tab in tabs"
        ng-class="{activeTab:isActiveTab(tab.url)}"
        ng-click="onClickTab(tab)"
        >
            <div>{{tab.title}}</div>
        </a>
    </div>
    <div class="policy-detail-tabs-content w-tab-content">
         <div ng-include="currentTab"></div>
    </div>
</div>