<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-header w-clearfix">
                <h3 class="tab-title">Policy Update</h3>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row section-row">
        <div class="col-lg-12">
            <div class="detail-list-div" ng-show="fileNames.length">
                <div class="detail-row document sortby">
                    <div class="details-collumns w-row">
                        <div class="w-col w-col-5 w-col-small-small-stack w-col-tiny-4">
                            <div>Name</div>
                        </div>
                        <div class="w-col w-col-3 w-col-small-small-stack w-col-tiny-4">
                            <div>Uploaded on</div>
                        </div>
                        <div class="w-col w-col-4 w-col-small-small-stack w-col-tiny-4">
                            <div>File size</div>
                        </div>
                    </div>
                </div>
                <div class="detail-row document" ng-repeat="fileName in fileNames track by fileName.id">
                    <div class="details-collumns w-row">
                        <div class="w-col w-col-5 w-col-small-small-stack w-col-tiny-tiny-stack">
                            <div class="text-ellipsis">{{fileName.fileName}}</div>
                        </div>
                        <div class="w-col w-col-3 w-col-small-small-stack w-col-tiny-tiny-stack">
                            <div>{{fileName.uploadedDate | date:'dd.MM.yyyy'}} at {{fileName.uploadedDate | date:'hh:mm'}}</div>
                        </div>
                        <div class="w-col w-col-2 w-col-small-small-stack w-col-tiny-tiny-stack">
                            <div>{{fileName.fileSize | bytes}} </div>
                        </div>
                        <div class="w-col w-col-2 w-col-small-small-stack w-col-tiny-tiny-stack">
                            <a class="view-doc documents text-link" ng-href="{{fileName.url}}?type=inline" target="_blank">View DOCUMENT</a>
                        </div>
                    </div>
                    <!--details-collumns-->
                </div>
            </div>
            <!--detail-list-div-->
        </div>
    </div>
 </div><!--wrapper   -->
<div class="details grey-block">General Policy Details</div>
<div class="wrapper">
        <div class="row section-row">
            <div class="col-lg-12">
                <!--row-->
                <form id="updatePolicy" novalidate class="ui-form" name="updatePolicy">
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="field-label">Insurer List</label>
                            <ui-select ng-model="list.insurerList" on-select="onSelection($select.selected)">
                                <ui-select-match>
                                    <span ng-bind="$select.selected.name"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in (insurerList | filter: $select.search) track by item.insurerId">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                            <label class="field-label">Policy Group</label>
                            <ui-select ng-model="list.groups" on-select="changeGroups($item)">
                                <ui-select-match>
                                    <span ng-bind="$select.selected.groupName"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in (groups | filter: $select.search) track by item.groupName">
                                    <span ng-bind="item.groupName"></span>
                                </ui-select-choices>
                            </ui-select>
                            <label class="field-label">Policy Type</label>
                            <ui-select ng-model="list.categories">
                                <ui-select-match>
                                    <span ng-bind="$select.selected.name"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in (categories | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                            <!--Base Info-->
                            <label class="field-label required" for="startDate">Inception Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control default-input w-input" placeholder="dd.mm.yyyy" uib-datepicker-popup="{{format}}"
                                    ng-model="data.startDate" is-open="openedStartDate" close-text="Close" show-button-bar="false" alt-input-formats="altInputFormats"
                                    ng-change="clearError('startDate', validationErrors)"
                                />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openStartDate()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            </div>
                            <div ng-show="paramExists('startDate', validationErrors)" class="field-validation-error">
                                <div ng-repeat="error in validationErrors['startDate']">{{error}} <br /></div>
                            </div>
                            <label class="field-label required" for="startDate">Renewal Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control default-input w-input" placeholder="dd.mm.yyyy" uib-datepicker-popup="{{format}}"
                                    ng-model="data.endDate" is-open="openedEndDate" close-text="Close" show-button-bar="false" alt-input-formats="altInputFormats"
                                    ng-change="clearError('endDate', validationErrors)"
                                />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openEndtDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                            <div ng-show="paramExists('endDate', validationErrors)" class="field-validation-error">
                                <div ng-repeat="error in validationErrors['endDate']">{{error}} <br /></div>
                            </div>
                            <label class="field-label required" for="PolicyNumber">Policy Number</label>
                            <input class="default-input w-input" data-name="PolicyNumber" id="PolicyNumber" maxlength="30" name="PolicyNumber" placeholder="Enter Policy Number"
                                required="required" type="text" ng-model="data.policyNumber" ng-change="clearError('policyNumber', validationErrors)">
                            <div ng-show="paramExists('policyNumber', validationErrors)" class="field-validation-error">
                                <div ng-repeat="error in validationErrors['policyNumber']">{{error}} <br /></div>
                            </div>
                        </div>
                        <!--col-lg-6-->
                        <div class="col-lg-6">
                            <label class="field-label required" for="PolicyPremium">Policy Total Premium Amount</label>
                            <div class="input-group">
                                <input class="default-input w-input form-control" data-name="PolicyPremium" id="PolicyPremium" maxlength="5" name="PolicyPremium" placeholder="Enter Policy Premium"
                                    required="required" type="number" min="0" max="99999" mask="99999" clean="true" ng-model="data.policyPremium" ng-change="clearError('policyPremium', validationErrors)">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-usd"></i>
                                </span>
                            </div>
                            <div ng-show="paramExists('policyPremium', validationErrors)" class="field-validation-error">
                                <div ng-repeat="error in validationErrors['policyPremium']">{{error}} <br /></div>
                            </div>

                            <label class="field-label">Policy Payment Frequency</label>
                            <ui-select ng-model="data.policyPaymentFrequency">
                                <ui-select-match>
                                    <span ng-bind="$select.selected.value"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in (list.policyPaymentFrequency | filter: $select.search) track by item.id">
                                    <span ng-bind="item.value"></span>
                                </ui-select-choices>
                            </ui-select>

                            <label class="field-label required" for="PolicyPaymentAmount">Policy Payment Amount</label>
                            <div class="input-group">
                                <input class="default-input w-input form-control" data-name="PolicyPaymentAmount" id="PolicyPaymentAmount" maxlength="5" name="PolicyPaymentAmount"
                                    placeholder="Enter Policy Payment Amount" required="required" type="number" mask="99999" clean="true" min="0" ng-model="data.policyPaymentAmount"
                                    ng-change="clearError('policyPaymentAmount', validationErrors)">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-usd"></i>
                                </span>
                            </div>
                            <div ng-show="paramExists('policyPaymentAmount', validationErrors)" class="field-validation-error">
                                <div ng-repeat="error in validationErrors['policyPaymentAmount']">{{error}} <br /></div>
                            </div>

                            <label class="field-label required" for="PolicyExcess">Policy Excess</label>
                            <div class="input-group">
                                <input class="default-input w-input form-control" data-name="PolicyExcess" id="PolicyExcess" maxlength="256" name="PolicyExcess" placeholder="Enter Policy Excess"
                                required="required" type="number" min="0" mask="99999" clean="true" ng-model="data.policyExcess" ng-change="clearError('policyExcess', validationErrors)">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-usd"></i>
                                </span>
                            </div>
                            <div ng-show="paramExists('policyExcess', validationErrors)" class="field-validation-error">
                                <div ng-repeat="error in validationErrors['policyExcess']">{{error}} <br /></div>
                            </div>
                        </div>
                        <!--col-lg-6-->
                    </div>
                    <!--row-->
                </form>
            </div><!--col-lg-12-->
    </div> <!--row-->
</div> <!--wrapper-->


<div class="details grey-block">Policy Properties • {{list.categories.name}}</div>
<div class="wrapper">
    <div class="row section-row">
        <div class="col-lg-6">
            <div>
                <policy-template-details></policy-template-details>
            </div>
        </div>
    </div>
</div>

<div class="details grey-block">Additional Fields</div>
<div class="wrapper">
    <div class="row section-row ui-form">
        <div class="col-lg-6">
            <group-fields fields="groupFields" control="groupFields"></group-fields>
            <!--group-fields-->
        </div>
    </div>
</div>

<div ng-if="coveragesDetails.length" ng-include="'/Angular/Dashboard/templates/policy/policyAdmin/policyCoverages.html'"></div>

<div style="overflow: hidden;" class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <button class="default-button w-button" ng-click="save(false)" button-spinner="submitInProgressSave">Save</button>
            <button class="default-button w-button" 
            ng-click="save(true)" 
            button-spinner="submitInProgressConfirmed"
            ng-if="policy.status != 1 && policy.status != 3"
            >Save And Confirm</button>
            <button class="default-button w-button" 
            ng-click="hideStatus()" 
            button-spinner="submitInProgressStatus"
            ng-if="policy.status === 1"
            >Hide for Customer</button>
            <button class="default-button w-button" 
            ng-click="showStatus()" 
            button-spinner="submitInProgressStatus"
            ng-if="policy.status === 3"
            >Show for Customer</button>
        </div>
    </div>
</div>

