<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-header w-clearfix"><img class="details header-back-arrow" data-ix="hide-policy-details" src="/Content/images/Header_Back_arrow2x.png" width="22">
                <h3 class="tab-title">MY8-STA Holden Commodore</h3>
                <h5 class="details-header tab-subtitle">NRMA Comprehensive Motor Vehicle M693810492 • &nbsp;$150p/m &nbsp;• &nbsp;Expires 30.12.18</h5>
            </div>
            <!--tab-header-->
        </div><!--col-->
    </div><!--row-->
</div><!--wrapper-->
<div class="w-tabs">
    <div class="detail-tab-menu w-tab-menu" >
        <a class="detail-tab-link w--current w-inline-block w-tab-link" data-w-tab="Tab {{$index}}" ng-repeat="tab in tabs">
            <div>{{tab.title}}</div>
        </a>
    </div>
</div>