<div class="wrapper">
    <div class="tab-header w-clearfix">
        <h3 class="tab-title">About</h3>
    </div>
</div>
    <div class="grey-block portfolio">
        <div>Advisr</div>
    </div>
    <div class="wrapper">
        <div class="about-para-div">
            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.
                <br>
                <br>Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus. Nullam
                eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.
                <br>
                <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus
                finibus. Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.
                Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.</p>
        </div>
    </div>
<div class="grey-block portfolio">Contact</div>
<div class="wrapper">
    <div class="about-para-div">
        <div class="w-row">
            <div class="contact-col w-col w-col-6 w-col-small-6 w-col-tiny-tiny-stack">
                <h5 class="col-title">Get in touch directly</h5><a class="contact link-text" href="#">(692)-608-5906</a><a class="contact link-text"
                    href="#">Contact@advisr.com</a>
                <a class="contact link-text" href="#">298 George St, 2000, Sydney, NSW</a>
            </div>
            <div class="w-col w-col-6 w-col-small-6 w-col-tiny-tiny-stack">
                <h5 class="col-title">Speak with someone now via our chat system</h5>
                <p class="contact paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus
                    finibus.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="grey-block portfolio">
    <div>Terms &amp; Conditions</div>
</div>
<div class="wrapper">
    <div class="about-para-div">
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus
            finibus.&nbsp;
            <br>
            <br>Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.
            Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.
            <br>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida
            lectus finibus. Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.
            Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.&nbsp;
            <br>
            <br>Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.
            Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.
            <br>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida
            lectus finibus. Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.
            Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.&nbsp;
            <br>
            <br>Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.
            Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.
            <br>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida
            lectus finibus. Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.
            Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.&nbsp;
            <br>
            <br>Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.
            Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.
            <br>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida
            lectus finibus. Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.
            Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.&nbsp;
            <br>
            <br>Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.
            Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.
            <br>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida
            lectus finibus. Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.
            Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.&nbsp;
            <br>
            <br>Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.
            Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.
            <br>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida
            lectus finibus. Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus dui eu elit rhoncus, sed gravida lectus finibus.
            Nullam eu lectus laoreet, convallis elit a, laoreet ligula. Aenean scelerisque vehicula scelerisque.</p>
    </div>
</div>