<div class="w-tab-pane w--tab-active">
    <div class="details grey-block">Insurer Details</div>
    <div class="detail-row">
        <div class="details-collumns w-row">
            <div class="w-col w-col-2 w-col-small-6 w-col-tiny-tiny-stack">
                <div>Name</div>
            </div>
            <div class="w-col w-col-10 w-col-small-6 w-col-tiny-tiny-stack">
                <div>
                    <a target="_blank" ng-href="http://{{policy.insurer.url}}">{{policy.insurer.name}}</a>
                </div>
            </div>
        </div>
    </div><!--detail-row-->
    <div class="detail-row">
        <div class="details-collumns w-row">
            <div class="w-col w-col-2 w-col-small-6 w-col-tiny-tiny-stack">
                <div>Phone</div>
            </div>
            <div class="w-col w-col-10 w-col-small-6 w-col-tiny-tiny-stack">
                <div>{{policy.insurer.phone}}</div>
            </div>
        </div>
    </div><!--detail-row-->
    <div class="detail-row">
        <div class="details-collumns w-row">
            <div class="w-col w-col-2 w-col-small-6 w-col-tiny-tiny-stack">
                <div>Phone Overseas</div>
            </div>
            <div class="w-col w-col-10 w-col-small-6 w-col-tiny-tiny-stack">
                <div>{{policy.insurer.phoneOverseas}}</div>
            </div>
        </div>
    </div>


    <!--<div class="details grey-block">Policy Details</div>
    <div class="detail-row">
        <div class="details-collumns w-row">
            <div class="w-col w-col-2 w-col-small-6 w-col-tiny-tiny-stack">
                <div>Policy Number</div>
            </div>
            <div class="w-col w-col-10 w-col-small-6 w-col-tiny-tiny-stack">
                <div>{{policy.policyNumber}}</div>
            </div>
        </div>
    </div>
    <div class="detail-row">
        <div class="details-collumns w-row">
            <div class="w-col w-col-2 w-col-small-6 w-col-tiny-tiny-stack">
                <div>Title</div>
            </div>
            <div class="w-col w-col-10 w-col-small-6 w-col-tiny-tiny-stack">
                <div>{{policy.title}}</div>
            </div>
        </div>
    </div>
    <div class="detail-row">
        <div class="details-collumns w-row">
            <div class="w-col w-col-2 w-col-small-6 w-col-tiny-tiny-stack">
                <div>Policy Start Date</div>
            </div>
            <div class="w-col w-col-10 w-col-small-6 w-col-tiny-tiny-stack">
                <div>{{policy.startDate | date:'dd.MM.yyyy'}}</div>
            </div>
        </div>
    </div>
    <div class="detail-row">
        <div class="details-collumns w-row">
            <div class="w-col w-col-2 w-col-small-6 w-col-tiny-tiny-stack">
                <div>Policy End Date</div>
            </div>
            <div class="w-col w-col-10 w-col-small-6 w-col-tiny-tiny-stack">
                <div>{{policy.endDate | date:'dd.MM.yyyy'}}</div>
            </div>
        </div>
    </div>
    <div class="detail-row">
        <div class="details-collumns w-row">
            <div class="w-col w-col-2 w-col-small-6 w-col-tiny-tiny-stack">
                <div>Policy Premium</div>
            </div>
            <div class="w-col w-col-10 w-col-small-6 w-col-tiny-tiny-stack">
                <div>{{policy.policyPremium}}</div>
            </div>
        </div>
    </div>
    <div class="detail-row">
        <div class="details-collumns w-row">
            <div class="w-col w-col-2 w-col-small-6 w-col-tiny-tiny-stack">
                <div>Policy Excess</div>
            </div>
            <div class="w-col w-col-10 w-col-small-6 w-col-tiny-tiny-stack">
                <div>{{policy.policyExcess}}</div>
            </div>
        </div>
    </div>
    <div class="detail-row">
        <div class="details-collumns w-row">
            <div class="w-col w-col-2 w-col-small-6 w-col-tiny-tiny-stack">
                <div>Policy Payment Frequency</div>
            </div>
            <div class="w-col w-col-10 w-col-small-6 w-col-tiny-tiny-stack">
                <div>{{policy.policyPaymentFrequency}}</div>
            </div>
        </div>
    </div>
    <div class="detail-row">
        <div class="details-collumns w-row">
            <div class="w-col w-col-2 w-col-small-6 w-col-tiny-tiny-stack">
                <div>Policy Payment Amount</div>
            </div>
            <div class="w-col w-col-10 w-col-small-6 w-col-tiny-tiny-stack">
                <div>{{policy.policyPaymentAmount}}</div>
            </div>
        </div>
    </div>-->
    <!--detail-row-->
    <div ng-if="policy.properties.length > 0">
        <div class="details grey-block">Policy Details • {{policy.policyGroup.policyTypeName}}</div>
        <div class="detail-row" ng-repeat="property in policy.properties">
            <div class="details-collumns w-row">
                <div class="w-col w-col-2 w-col-small-6 w-col-tiny-tiny-stack">
                    <div>{{property.fieldName}}</div>
                </div>
                <div class="w-col w-col-10 w-col-small-6 w-col-tiny-tiny-stack">
                    <div>{{ (property.fieldType === 2)  ? (property.value === 'Yes') ? 'Yes' : 'No' : (property.fieldType != 5) ? property.value : (property.value | date: 'dd.MM.yyyy')}}</div>
                </div>
            </div>
        </div>
        <!--detail-row-->
    </div>
    
</div><!--w-tab-pane-->