<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-header w-clearfix">
                <h3 class="tab-title">Change Password</h3>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <form novalidate class="ui-form" data-name="form-change-pass" id="form-change-pass" name="form-change-pass">
                <label class="field-label" for="password" ng-show="currentUser.hasPassword">Old Password</label>
                <input class="default-input w-input" data-name="oldPassword" id="oldPassword" maxlength="256" name="oldPassword" placeholder="Enter your old password"
                    required="required" type="password" ng-model="data.oldPassword" ng-change="clearError('oldPassword', validationErrors)" ng-show="currentUser.hasPassword">
                <div ng-show="paramExists('oldPassword', validationErrors)" class="field-validation-error">
                    <div ng-repeat="error in validationErrors['oldPassword']">{{error}} <br /></div>
                </div>
                <label class="field-label" for="password">New Password</label>
                <input class="default-input w-input" data-name="newPassword" id="newPassword" maxlength="256" name="newPassword" placeholder="Enter your new password"
                    required="required" type="password" ng-model="data.newPassword" ng-change="clearError('newPassword', validationErrors)">
                <div ng-show="paramExists('newPassword', validationErrors)" class="field-validation-error">
                    <div ng-repeat="error in validationErrors['newPassword']">{{error}} <br /></div>
                </div>
                <label class="field-label" for="confirm-password">Confirm Password</label>
                <input class="default-input w-input" data-name="confirm-password" id="confirm-pasword" maxlength="256" name="confirm-password"
                    placeholder="Confirm your password" required="required" type="password" ng-model="data.confirmPassword" ng-change="clearError('confirmPassword', validationErrors)">
                <div ng-show="paramExists('confirmPassword', validationErrors)" class="field-validation-error">
                    <div ng-repeat="error in validationErrors['confirmPassword']">{{error}} <br /></div>
                </div>
                <button class="default-button w-button" data-wait="Please wait..." ng-click="save()" button-spinner="submitInProgress">Save Password</button>
            </form>
        </div>
    </div>
</div><!--wrapper-->