<div class="wrapper">
    <h2>Add insurer</h2>
    <div class="row">
        <div class="col-lg-6">
            <div class="w-form">
                <form novalidate class="ui-form" data-name="form-insurer" id="wf-form-addinsurer-form" name="wf-form-addinsurer-form">
                    <label class="field-label required" for="name">Insurer name</label>
                    <input class="default-input w-input" data-name="name" id="name" maxlength="256" name="name" placeholder="Enter insurer name"
                        type="text" ng-model="data.name" ng-change="clearError('name', validationErrors)">
                    <div ng-show="paramExists('name', validationErrors)" class="field-validation-error">
                        <div ng-repeat="error in validationErrors['name']">{{error}} <br /></div>
                    </div>
                    <label class="field-label required" for="url">Insurer url</label>
                    <input class="default-input w-input" data-name="url" id="url" maxlength="256" name="url" placeholder="Enter insurer url"
                        type="text" ng-model="data.url" ng-change="clearError('url', validationErrors)">
                    <div ng-show="paramExists('url', validationErrors)" class="field-validation-error">
                        <div ng-repeat="error in validationErrors['url']">{{error}} <br /></div>
                    </div>
                    <label class="field-label required" for="phone">Contact Phone</label>
                    <input class="default-input w-input" data-name="phone" id="phone" maxlength="256" name="phone" placeholder="Enter Phone e.g. (9999 999 999)"
                        type="text" mask="9999-999-999" clean="true" ng-model="data.phone" ng-change="clearError('phone', validationErrors)">
                    <div ng-show="paramExists('phone', validationErrors)" class="field-validation-error">
                        <div ng-repeat="error in validationErrors['phone']">{{error}} <br /></div>
                    </div>
                    <label class="field-label" for="phone">Phone overseas</label>
                    <input class="default-input w-input" data-name="phoneOverseas" id="phoneOverseas" maxlength="256" name="phoneOverseas" placeholder="Enter insurers phone overseas"
                        type="text" ng-model="data.phoneOverseas" ng-change="clearError('phoneOverseas', validationErrors)">
                    <div ng-show="paramExists('password', validationErrors)" class="field-validation-error">
                        <div ng-repeat="error in validationErrors['password']">{{error}} <br /></div>
                    </div>
                    <label class="field-label required" for="confirm-password">Logo</label>
                    <button class="small-button w-button upload-button" ngf-select="uploadLogo($file, $invalidFiles)" name="fileInput" accept="image/*"
                        ngf-max-size="10MB" button-spinner="submitInProgressFile">
                            + Upload file here
                        </button>
                    <label class="form-help-text" for="email-2">Files extension: gif, jpeg/jpg, png, tiff</label>
                    <div class="field-validation-error" ng-show="paramExists('logoId', validationErrors)">
                        <div ng-repeat="error in validationErrors['logoId']">{{error}}</div>
                    </div>
                    <img class="notFound" alt="Not found" id="logo" ng-src="{{data.logo.url}}" ng-if="data.logo.url" />
                    <label class="field-label" for="phone">Color</label>
                    <input class="default-input w-input" data-name="color" id="color" maxlength="256" name="color" placeholder="Enter insurers сolor"
                        type="text" ng-model="data.color" ng-change="clearError('color', validationErrors)">
                    <div ng-show="paramExists('color', validationErrors)" class="field-validation-error">
                        <div ng-repeat="error in validationErrors['color']">{{error}} <br /></div>
                    </div>
                    <br />
                    <br />
                    <button class="default-button w-button" data-wait="Please wait..." ng-click="create()" button-spinner="submitInProgress">Save</button>
                    <a class="default-button w-button" data-wait="Please wait..." ng-href="#/admin/insurers" button-spinner="submitInProgress">
                            Back
                        </a>
                </form>
            </div>
        </div>
    </div>
</div>
